# SQL Local Queries
###

In [10]:
import numpy as np
import pandas as pd
import wget
import psycopg2
import pymongo
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv

# sql passwords file
os.chdir("C:\\Users\\dwagn\\git\\ds-6001\\mod7") 
dotenv.load_dotenv() 
sys.tracebacklimit = 0 # error tracebacks

ERROR! Session/line number was not unique in database. History logging moved to new session 980

In [11]:
# LAB 7 below

In [12]:
# 4 separate tables in db
works = pd.read_csv("https://github.com/jkropko/DS-6001/raw/master/localdata/Works.csv")
characters = pd.read_csv("https://github.com/jkropko/DS-6001/raw/master/localdata/Characters.csv")
chapters = pd.read_csv("https://github.com/jkropko/DS-6001/raw/master/localdata/Chapters.csv")
paragraphs = pd.read_csv("https://github.com/jkropko/DS-6001/raw/master/localdata/Paragraphs.csv")

works.columns = works.columns.str.lower()
characters.columns = characters.columns.str.lower()
chapters.columns = chapters.columns.str.lower()
paragraphs.columns = paragraphs.columns.str.lower()

In [ ]:
# PostgreSQL server setup

dotenv.load_dotenv()
pgpassword = os.getenv("pgpass")

dbserver = psycopg2.connect(
    user='postgres', 
    password=pgpassword, 
    host="localhost"
)
dbserver.autocommit = True
cursor = dbserver.cursor()

try:
    cursor.execute("CREATE DATABASE shake")
except:
    cursor.execute("DROP DATABASE shake")
    cursor.execute("CREATE DATABASE shake")
    
engine = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user='postgres', 
                               pw=pgpassword, 
                               db="teams"))

works.to_sql('works', con = engine, index=False, chunksize=1000, if_exists = 'replace')
characters.to_sql('characters', con = engine, index=False, chunksize=1000, if_exists = 'replace')
chapters.to_sql('chapters', con = engine, index=False, chunksize=1000, if_exists = 'replace')
paragraphs.to_sql('paragraphs', con = engine, index=False, chunksize=1000, if_exists = 'replace')

Takes title, date, and totalwords from works table, sorts by totalwords in descending order, and creates new column (era) which classifies time periods from 1607, then finally displays rows 7 through 11:

In [ ]:
myquery = """
SELECT title, date as year, totalwords, 
CASE WHEN date < 1600 THEN 'early' 
WHEN date BETWEEN 1600 AND 1607 THEN 'middle' 
WHEN date > 1607 THEN 'late' ELSE NULL END AS era FROM works ORDER BY totalwords DESC LIMIT 5 OFFSET 6;
"""
pd.read_sql_query(myquery, con=engine)

In [ ]:
### LAB 6 below

In [2]:
## Reads in files

# url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
# pfork = wget.download(url)
# pitchfork = sqlite3.connect(pfork)
# for t in ['artists','content','genres','labels','reviews','years']:
#     datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
#     datatable.to_csv("{tab}.csv".format(tab=t))

In [3]:
reviews = pd.read_csv("reviews.csv")
artists = pd.read_csv("artists.csv")
content = pd.read_csv("content.csv")
genres = pd.read_csv("genres.csv")
labels = pd.read_csv("labels.csv")
years = pd.read_csv("years.csv")

In [4]:
music_db = sqlite3.connect("music.db") 

reviews.to_sql('reviews', music_db, index=False, chunksize=1000, if_exists='replace')
artists.to_sql('artists', music_db, index=False, chunksize=1000, if_exists='replace')
content.to_sql('content', music_db, index=False, chunksize=1000, if_exists='replace')
genres.to_sql('genres', music_db, index=False, chunksize=1000, if_exists='replace')
labels.to_sql('labels', music_db, index=False, chunksize=1000, if_exists='replace')
years.to_sql('years', music_db, index=False, chunksize=1000, if_exists='replace')

c:\users\dwagn\appdata\local\programs\python\python39\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(